.App {
  text-align: center;
  align-content: center;
  background-color:  #a5cfe7;
  padding: 10px;
}

.TopNav {
  color:  black;
  height: 90px;
  border-bottom: 5px solid;
}

.TopNav-image {
  margin: 5px;
  height: 70px;
  width: 70px;
  float: left;
}

.Nav-items {
  font-size: 30px;
  margin-top: 10px;
}

.Home-header {
  margin: 5%;
  font-family: 'PT Sans Caption', sans-serif;
}

.Home-body {
  margin: 5%;
  font-size: 25px;
  font-family: 'EB Garamond', serif;
}

.Cajones-pics {
  width: 400px;
  height: auto;
  justify-content: center;
  border: 4px solid;
}

.images {
  width: 400px !important;
  height: auto !important;
  align-content: center;
}

.Footer {
  height: 50px;
  width: 100%;
  font-family: 'PT Sans Caption', sans-serif;
  background-color: #54a8ad;
  align-items: center;
  margin-top: 15px;
}